.infocountries{
 border: 1px solid #ccc;
    width: 500px;
    height: 500px;
    margin-left: 20px;
}
.infocountries p{
    font-size: 25px;
}
.flag{
    float: right;
}
.info{
    float: left;

}
.flags{
   width: 200px;
    height: 100px;

}